<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="order">
	<resultMap type="order" id="orderMap">
		<result property="orderNo" column="order_no"/>
		<result property="memNo" column="mem_no"/>
		<result property="ordAmount" column="ord_amount"/>
		<result property="ordUsePoint" column="ord_use_point"/>
		<result property="ordZipcode" column="ord_zipcode"/>
		<result property="ordDetailAddr" column="ord_detail_addr"/>
		<result property="ordExtraAddr" column="ord_extra_addr"/>
		<result property="ordTrack" column="ord_track"/>
		<result property="ordMemo" column="ord_memo"/>
		<result property="ordDeliPrice" column="ord_deli_price"/>
		<result property="ordConfirmYn" column="ord_confirm_yn"/>
		<result property="ordStatus" column="ord_status"/>
		<result property="ordCancel" column="ord_cancel"/>
		<result property="ordDate" column="ord_date"/>
		<result property="ordOname" column="ord_oname"/>
		<result property="ordOpone" column="ord_ophone"/>
		<result property="ordRname" column="ord_rname"/>
		<result property="ordRphone" column="ord_rphone"/>
	</resultMap>
	<resultMap type="inorder" id="inorderMap">
		<result property="orderNo" column="order_no"/>
		<result property="pdtNo" column="pdt_no"/>
		<result property="pdtOptionNo" column="pdt_option_no"/>
		<result property="inorderQty" column="inorder_qty"/>
	</resultMap>
	<resultMap type="basket" id="basketMap">
		<result property="basketNo" column="basket_no"/>
		<result property="memNo" column="mem_no"/>
	</resultMap>
	<resultMap type="inbasket" id="inbasketMap">
		<result property="pdtNo" column="pdt_no"/>
		<result property="basketNo" column="pdt_no"/>
		<result property="pdtOptionNo" column="pdt_option_no"/>
		<result property="inbasQty" column="inbas_qty"/>
	</resultMap>
	
	<insert id="insertOrder" parameterType="order">
		INSERT INTO "ORDER"
		VALUES (#{orderNo}, #{memNo},#{ordAmount},
				#{ordUsePoint}, #{ordZipcode},
				#{ordDetailAddr},#{ordExtraAddr},
				#{ordDeliPrice},#{ordConfirmYn},
				#{ordStatus},#{ordCancel},
				SYSDATE,#{ordOname},<!-- sysdate => ordDate-->
				#{ordOpone},#{ordRname}, #{ordRphone})
	</insert>
	<select id="selectBasketOne" parameterType="string" resultMap="inbasketMap">
		SELECT * FROM BASKET WHERE MEM_NO=#{memNo}
	</select>
	<select id="selectInbasket" parameterType="string" resultMap="inorderMap">
		SELECT * FROM INORDER WHERE BASKET_NO = #{basketNo}
	</select>
	<insert id="insertInbasket" parameterType="string">
		INSERT INTO INBASKET
	</insert>

</mapper>