<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="order">
	<resultMap type="order" id="orderMap">
		<result property="orderNo" column="order_no" />
		<result property="memNo" column="mem_no" />
		<result property="ordAmount" column="ord_amount" />
		<result property="ordUsePoint" column="ord_use_point" />
		<result property="ordZipcode" column="ord_zipcode" />
		<result property="ordAddr" column="ord_addr" />
		<result property="ordDetailAddr" column="ord_detail_addr" />
		<result property="ordExtraAddr" column="ord_extra_addr" />
		<result property="ordTrack" column="ord_track" />
		<result property="ordMemo" column="ord_memo" />
		<result property="ordDeliPrice" column="ord_deli_price" />
		<result property="ordConfirmYn" column="ord_confirm_yn" />
		<result property="ordStatus" column="ord_status" />
		<result property="ordCancel" column="ord_cancel" />
		<result property="ordDate" column="ord_date" />
		<result property="ordOname" column="ord_oname" />
		<result property="ordOphone" column="ord_ophone" /> 
		<result property="ordRname" column="ord_rname" />
		<result property="ordRphone" column="ord_rphone" />
		<result property="pdtThumbImage" column="thumbs" />
		<result property="pdtName" column="pdt_name" />
		<result property="pdtOptionContent" column="pdt_option_content" />
		<result property="inorderQty" column="inorder_qty" />
		<result property="pdtPrice" column="pdt_price" />
		<result property="memEmail" column="mem_email" />
		<result property="pdtOptionAddprice" column="pdt_option_addprice" />
		<result property="pdtNo" column="pdt_no"/>
		<result property="revYn" column="rev_yn"/>

	</resultMap>
	<resultMap type="inorder" id="inorderMap">
		<result property="orderNo" column="order_no" />
		<result property="pdtNo" column="pdt_no" />
		<result property="pdtOptionNo" column="pdt_option_no" />
		<result property="inorderQty" column="inorder_qty" />
	</resultMap>
	<resultMap type="basket" id="basketMap">
		<result property="basketNo" column="basket_no" />
		<result property="memNo" column="mem_no" />
		<result property="pdtNo" column="pdt_no" />
		<result property="pdtOptionNo" column="pdt_option_no" />
		<result property="inbasQty" column="inbas_qty" />
		<result property="pdtName" column="pdt_name" />
		<result property="pdtThumbImage" column="thumbs" />
		<result property="pdtOptionContent" column="pdt_option_content" />
		<result property="pdtPrice" column="pdt_price" />
		<result property="pdtOptionAddprice"
			column="pdt_option_addprice" />
		<result property="salePer" column="event_sale_per" />
	</resultMap>
	<resultMap type="inbasket" id="inbasketMap">
		<result property="pdtNo" column="pdt_no" />
		<result property="basketNo" column="basket_no" />
		<result property="pdtOptionNo" column="pdt_option_no" />
		<result property="inbasQty" column="inbas_qty" />
	</resultMap>

	<insert id="insertOrder" parameterType="order">
	<!-- order_no, mem_no, ord_amount(총금액), 
		ord_use_point(사용적립금), ord_zipcode(우편번호),
		ord_addr(도로명주소), ord_detail_addr(상세주소), 
		ord_extra_addr(참고주소), ord_track(송장번호), 
		ord_memo(배송메모), ord_deli_price(배송비), 
		ord_conform_yn(구매확정여부) => DEFAULT 'N', 
		ord_cancel(취소사유), 	ord_date(주문날짜), 
		ord_oname(주문자이름), ord_ophone(주문자번호),
		ord_rname(수취인이름), ord_rphone(수취인번호),
		ord_mng_memo(관리자메모)=>NULL ,
		ord_status(주문상태)=>'주문완료',-->
		INSERT INTO "ORDER"
		VALUES (
		#{orderNo}, #{memNo},#{ordAmount},
		#{ordUsePoint}, #{ordZipcode},
		#{ordAddr},	#{ordDetailAddr},
		#{ordExtraAddr},  #{ordTrack},
		#{ordMemo}, #{ordDeliPrice},DEFAULT,
		DEFAULT, SYSDATE, #{ordOname},#{ordOphone},
		#{ordRname},#{ordRphone},NULL,'주문완료'
		)
	</insert>
	<delete id="deleteInbasket" parameterType="string">
		DELETE FROM INBASKET WHERE BASKET_NO = #{basketNo}
	</delete>
	<delete id="deleteBasket" parameterType="string">
		DELETE FROM BASKET WHERE BASKET_NO = #{basketNo}
	</delete>

	<!-- 상품상세 - 구매평 작성 시 구매확인 -->
	<select id="selectOrder" parameterType="map" resultMap="orderMap">
	SELECT DISTINCT O.ORDER_NO, PDT_OPTION_CONTENT, O.ORD_CONFIRM_YN, O.ORD_DATE, O.ORDER_NO,I.INORDER_QTY,P.PDT_PRICE,P.PDT_NAME, P.PDT_NO
	FROM "ORDER" O
	    LEFT JOIN MEMBER M ON (M.MEM_NO=O.MEM_NO)
	    LEFT JOIN INORDER I ON (I.ORDER_NO=O.ORDER_NO)
	    LEFT JOIN PRODUCT P ON (P.PDT_NO=I.PDT_NO)
	    LEFT JOIN PRODUCT_OPTION OP ON (OP.PDT_OPTION_NO=I.PDT_OPTION_NO)
	    LEFT JOIN REVIEW R ON (R.ORDER_NO=O.ORDER_NO)
	WHERE M.MEM_NO=#{memNo} AND P.PDT_NO=#{pdtNo} AND ORD_CONFIRM_YN='Y' AND R.REV_YN IS NULL 
	ORDER BY ORD_DATE DESC
	</select>

	<select id="selectBasket" parameterType="string" resultMap="basketMap">
		SELECT DISTINCT
			P.PDT_PRICE,P.PDT_NO,
			P.PDT_NAME,OP.PDT_OPTION_CONTENT,OP.PDT_OPTION_NO,
			OP.PDT_OPTION_ADDPRICE, I.INBAS_QTY, B.MEM_NO,B.BASKET_NO,
			E.EVENT_SALE_PER,
			LISTAGG(PDT_THUMB_IMAGE,',') 
			WITHIN GROUP(ORDER BY TH.pdt_no_ref)
			OVER(PARTITION BY TH.PDT_NO_REF)AS THUMBS
		FROM BASKET B
			LEFT JOIN MEMBER M ON (M.MEM_NO=B.MEM_NO)
			LEFT JOIN INBASKET I ON
			(I.BASKET_NO=B.BASKET_NO)
			LEFT JOIN PRODUCT P ON (P.PDT_NO=I.PDT_NO)
			LEFT JOIN PRODUCT_OPTION OP ON (OP.PDT_OPTION_NO=I.PDT_OPTION_NO)
			LEFT JOIN PRODUCT_THUMB TH ON (TH.PDT_NO_REF=I.PDT_NO)
			LEFT JOIN EVENT E ON(P.EVENT_NO_REF=E.EVENT_NO)
		WHERE B.MEM_NO=#{memNo}
	</select>
	<select id="selectBasketOne" parameterType="string" resultMap="basketMap">
		SELECT * FROM BASKET WHERE MEM_NO = #{memNo}
	</select>

	<delete id="deleteBasketPdt" parameterType="basket">
		DELETE FROM INBASKET
		WHERE BASKET_NO = #{basketNo} AND PDT_NO = #{pdtNo}
		<if test="pdtOptionNo != null and pdtOptionNo != '' "> 
			AND PDT_OPTION_NO = #{pdtOptionNo}
		</if>
	</delete>
	
	<delete id="deleteBasketOption" parameterType="string">
		DELETE FROM
		INBASKET WHERE PDT_OPTION_NO = #{pdtOptionNo}
	</delete>
	
	<select id="selectOrderList" parameterType="string" resultMap="orderMap">
		SELECT DISTINCT PDT_OPTION_CONTENT,O.ORD_CANCEL, O.ORD_CONFIRM_YN, O.ORD_AMOUNT,O.ORD_USE_POINT, O.ORD_DATE, O.ORDER_NO,I.INORDER_QTY,P.PDT_PRICE,P.PDT_NAME,O.ORD_STATUS,P.PDT_NO,LISTAGG(PDT_THUMB_IMAGE,',') WITHIN GROUP(ORDER BY TH.pdt_no_ref) OVER(PARTITION BY TH.PDT_NO_REF)AS THUMBS 
		FROM "ORDER" O
		 LEFT JOIN MEMBER M ON (M.MEM_NO=O.MEM_NO)
		 LEFT JOIN INORDER I ON (I.ORDER_NO=O.ORDER_NO)
         LEFT JOIN PRODUCT P ON (P.PDT_NO=I.PDT_NO)
         LEFT JOIN PRODUCT_OPTION OP ON (OP.PDT_OPTION_NO=I.PDT_OPTION_NO)
         LEFT JOIN PRODUCT_THUMB TH ON (TH.PDT_NO_REF=I.PDT_NO)
		WHERE M.MEM_NO=#{memNo}
		ORDER BY ORD_DATE DESC
	</select>
	
	<select id="selectOrderCount" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM "ORDER" WHERE MEM_NO=#{memNo}
	</select>

	<select id="shipReadyCount" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM "ORDER" 
		WHERE MEM_NO=#{memNo} AND ORD_STATUS='배송준비'
	</select>
	<select id="ordWaitCount" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM "ORDER" 
		WHERE MEM_NO=#{memNo} AND ORD_STATUS='주문대기'
	</select>
	<select id="ordEndCount" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM "ORDER" 
		WHERE MEM_NO=#{memNo} AND ORD_STATUS='주문완료'
	</select>
	<select id="shipEndCount" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM "ORDER" 
		WHERE MEM_NO=#{memNo} AND ORD_STATUS='배송완료'
	</select>
	<select id="shippingCount" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM "ORDER" 
		WHERE MEM_NO=#{memNo} AND ORD_STATUS='배송중'
	</select>
	<select id="buyEndCount" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM "ORDER" 
		WHERE MEM_NO=#{memNo} AND ORD_STATUS='주문취소'
	</select>
	<select id="cancelEndCount" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM "ORDER" 
		WHERE MEM_NO=#{memNo} AND ORD_STATUS='취소완료'
	</select>
	<select id="returnWaitCount" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM "ORDER" 
		WHERE MEM_NO=#{memNo} AND ORD_STATUS='반품요청'
	</select>
	<select id="returnEndCount" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM "ORDER" 
		WHERE MEM_NO=#{memNo} AND ORD_STATUS='반품완료'
	</select>
	
	

	<select id="selectOrderDetail" parameterType="string" resultMap="orderMap">
		 SELECT DISTINCT P.PDT_NO,O.ORD_CONFIRM_YN,R.REV_YN,R.REV_DELETE_YN, O.ORD_STATUS, P.PDT_PRICE, P.PDT_NAME,PDT_OPTION_CONTENT, PDT_OPTION_ADDPRICE, INORDER_QTY, O.ORD_TRACK,
         LISTAGG(PDT_THUMB_IMAGE,',') WITHIN GROUP(ORDER BY TH.pdt_no_ref) OVER(PARTITION BY TH.PDT_NO_REF)AS THUMBS
         FROM "ORDER" O
		 LEFT JOIN INORDER I ON (I.ORDER_NO=O.ORDER_NO)
  		 LEFT JOIN REVIEW R ON (R.PDT_NO=I.PDT_NO)
     	 LEFT JOIN PRODUCT P ON (P.PDT_NO=I.PDT_NO)
     	 LEFT JOIN PRODUCT_OPTION OP ON (OP.PDT_OPTION_NO=I.PDT_OPTION_NO)
    	 LEFT JOIN PRODUCT_THUMB TH ON (TH.PDT_NO_REF=I.PDT_NO)
		 
         WHERE O.ORDER_NO=#{ordNo}
         ORDER BY P.PDT_NO
	</select>
	
	<select id="selectOrderOne" parameterType="string" resultMap="orderMap">
		SELECT *
         FROM "ORDER" O
		 LEFT JOIN MEMBER M ON (M.MEM_NO=O.MEM_NO)
		 WHERE ORDER_NO=#{ordNo}
	</select>
	
	<update id="cancelOrder" parameterType="order">
		UPDATE "ORDER" SET ORD_CANCEL=#{ordCancel}, ORD_STATUS='주문취소' WHERE ORDER_NO=#{orderNo}
	</update>

	<insert id="cancelOrdPoint" parameterType="point">
		 INSERT INTO POINT VALUES(#{memNo},null,SYSDATE,#{pointContent},#{pointChange})
	</insert>
	
	<update id="buyConfirm" parameterType="string">
		UPDATE "ORDER" SET ORD_CONFIRM_YN='Y' WHERE ORDER_NO=#{orderNo}
	</update>
	
	<insert id="insertOrdPoint" parameterType="point">
		INSERT INTO POINT VALUES(#{memNo},null,SYSDATE,#{pointContent},#{pointChange})
	</insert>
	
	<insert id="insertBasket" parameterType="string">
		INSERT INTO BASKET VALUES('B'||TO_CHAR(SEQ_BASKET_NO.NEXTVAL), #{memNo})
	</insert>
	
	<insert id="insertInbasket" parameterType="inbasket">
		INSERT INTO INBASKET VALUES(
			#{pdtNo},#{basketNo},#{pdtOptionNo, jdbcType=VARCHAR},#{inbasQty})
	</insert>
	<update id="returnRequest" parameterType="order">
		UPDATE "ORDER" SET ORD_CANCEL=#{ordCancel}, ORD_STATUS='반품요청' WHERE ORDER_NO=#{orderNo}
	</update>

	<insert id="returnOrdPoint" parameterType="point">
		 INSERT INTO POINT VALUES(#{memNo},null,SYSDATE,#{pointContent},#{pointChange})
	</insert>
	<select id="selectBasketNo" parameterType="string" resultMap="basketMap">
		SELECT BASKET_NO FROM BASKET WHERE MEM_NO = #{memNo}
	</select>
	<select id="selectInbasket" parameterType="string" resultMap="inbasketMap">
		SELECT PDT_OPTION_NO FROM INBASKET WHERE BASKET_NO = #{basketNo} AND PDT_OPTION_NO IS NOT NULL
	</select>
	<select id="selectInbasketList" parameterType="string" resultMap="inbasketMap">
		SELECT * FROM INBASKET WHERE BASKET_NO = #{basketNo}
	</select>
	<insert id="insertInorder" parameterType="inorder">
		INSERT INTO INORDER VALUES(
			#{orderNo}, #{pdtNo}, #{pdtOptionNo, jdbcType=VARCHAR},#{inorderQty}
		)
	</insert>
	
</mapper>