<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="review">
	<resultMap type="review" id="reviewMap">
		<result property="revNo" column="rev_no"/>
		<result property="pdtNo" column="pdt_no"/>
		<result property="memNo" column="mem_no"/>
		<result property="orderNo" column="order_no"/>
		<result property="revScore" column="rev_score"/>
		<result property="revContent" column="rev_content"/>
		<result property="revImage" column="rev_image"/>
		<result property="revDate" column="rev_date" typeHandler="customStr"/>
	</resultMap>
	
	<insert id="insertReview" parameterType="map">
		INSERT INTO REVIEW VALUES('R'||SEQ_REV_NO.NEXTVAL,#{pdtNo},#{memNo},#{orderNo},
		#{revScore},#{revContent},
		<if test="revImage!=null">#{revImage},</if>
		<if test="revImage==null">null,</if>
		DEFAULT)
	</insert>
	
	<select id="reviewList" parameterType="string" resultMap="reviewMap">
		SELECT R.*, M.MEM_NICK AS MEMNICK, M.MEM_PRO AS MEMPRO
		FROM REVIEW R
		JOIN MEMBER M ON M.MEM_NO=R.MEM_NO
		WHERE PDT_NO=#{pdtNo}
		ORDER BY REV_DATE DESC
	</select>
	
	<select id="reviewCount" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM REVIEW WHERE PDT_NO=#{pdtNo}
	</select>
	
	<!-- 구매평 평균 -->
	<select id="reviewAvg" parameterType="string" resultType="string">
		SELECT ROUND(AVG(REV_SCORE),1) FROM REVIEW WHERE PDT_NO=#{pdtNo}
	</select>

	<delete id="deleteReview" parameterType="string">
		DELETE FROM REVIEW WHERE REV_NO=#{revNo}
	</delete>
	
	<update id="updateReview" parameterType="review">
		UPDATE REVIEW SET REV_SCORE=#{revScore}, REV_CONTENT=#{revContent}, 
		<if test="revImage!=null">REV_IMAGE=#{revImage}</if>
		<if test="revImage==null">REV_IMAGE=null</if>
		WHERE REV_NO=#{revNo}
	</update>
	
	<!--나의활동  -->
	<select id="selectReviewList" parameterType="string" resultMap="reviewMap">
      SELECT * FROM REVIEW WHERE MEM_NO=#{memNo} ORDER BY REV_DATE DESC
    </select>

    <select id="selectReviewCount" resultType="_int">
      SELECT COUNT(*) FROM REVIEW WHERE MEM_NO=#{memNo}
    </select>
</mapper>
