<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="review">
	<resultMap type="review" id="reviewMap">
		<result property="pdtNo" column="pdt_no"/>
		<result property="memNo" column="mem_no"/>
		<result property="orderNo" column="order_no"/>
		<result property="revScore" column="rev_score"/>
		<result property="revContent" column="rev_content"/>
		<result property="revImage" column="rev_image"/>
		<result property="revDate" column="rev_date" typeHandler="customStr"/>
	</resultMap>
	<insert id="insertReview" parameterType="review">
		INSERT INTO REVIEW VALUES('P16',#{memNo},NULL,
		#{revScore},#{revContent},
		<if test="revImage!=null">#{revImage},</if>
		<if test="revImage==null">null,</if>
		DEFAULT)
	<!-- 	<selectKey keyProperty="memNo" resultType="string" order="AFTER">
			SELECT SEQ_MEM_NO.CURRVAL FROM DUAL			
		</selectKey>
 -->
	</insert>


</mapper>
