<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.kh.bom.faq.model.vo.Faq" alias="faq"/>
		<typeAlias type="com.kh.bom.notice.model.vo.Notice" alias="notice"/>
		<typeAlias type="com.kh.bom.ship.model.vo.Ship" alias="ship"/>
		<typeAlias type="com.kh.bom.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.kh.bom.order.model.vo.Order" alias="order"/>
		<typeAlias type="com.kh.bom.order.model.vo.Inorder" alias="inorder"/>
		<typeAlias type="com.kh.bom.community.model.vo.Community" alias="community"/>
		<typeAlias type="com.kh.bom.admin.model.vo.Event" alias="event"/>

	</typeAliases>
</configuration>