<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.kh.bom.faq.model.vo.Faq" alias="faq"/>
		<typeAlias type="com.kh.bom.notice.model.vo.Notice" alias="notice"/>
		<typeAlias type="com.kh.bom.ship.model.vo.Ship" alias="ship"/>
	</typeAliases>
</configuration>