<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- <settings>
		mapper입력값에 null값이 들어갈 경우 null처리
		<setting value="VARCHAR" name="jdbcTypeForNull" />
 	</settings> -->
	
	<typeAliases>
		<typeAlias type="com.kh.bom.faq.model.vo.Faq" alias="faq"/>
		<typeAlias type="com.kh.bom.notice.model.vo.Notice" alias="notice"/>
		<typeAlias type="com.kh.bom.ship.model.vo.Ship" alias="ship"/>
		<typeAlias type="com.kh.bom.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.kh.bom.order.model.vo.Order" alias="order"/>
		<typeAlias type="com.kh.bom.order.model.vo.Inorder" alias="inorder"/>
		<typeAlias type="com.kh.bom.community.model.vo.Community" alias="community"/>
		<typeAlias type="com.kh.bom.admin.model.vo.Event" alias="event"/>
		<typeAlias type="com.kh.bom.inquiry.model.vo.Inquiry" alias="inquiry"/>
		<typeAlias type="com.kh.bom.point.model.vo.Point" alias="point"/>
		<typeAlias type="com.kh.bom.product.model.vo.Product" alias="product"/>
		<typeAlias type="com.kh.bom.product.model.vo.ProductOption" alias="option"/>
		<typeAlias type="com.kh.bom.product.model.vo.ProductThumb" alias="thumb"/>
		<typeAlias type="com.kh.bom.common.typehandler.DateStringTypeHandler" alias="dateStr"/>
		<typeAlias type="com.kh.bom.zzim.model.vo.Zzim" alias="zzim"/>
		<typeAlias type="com.kh.bom.zzim.model.vo.ZzimContent" alias="zzimContent"/>
		<typeAlias type="com.kh.bom.community.model.vo.BoardReply" alias="boardReply"/>
		<typeAlias type="com.kh.bom.order.model.vo.Basket" alias="basket"/>
		<typeAlias type="com.kh.bom.order.model.vo.Inbasket" alias="inbasket"/>
		<typeAlias type="com.kh.bom.qna.model.vo.Qna" alias="qna"/>
		<typeAlias type="com.kh.bom.common.typehandler.CustomTypeHandler" alias="customStr"/>
		<typeAlias type="com.kh.bom.review.model.vo.Review" alias="review"/>
		<typeAlias type="com.kh.bom.admin.model.vo.MainBanner" alias="mainBanner"/>
		<typeAlias type="com.kh.bom.member.model.vo.Alarm" alias="alarm"/>
		<typeAlias type="com.kh.bom.common.typehandler.StringArrayTypeHandler" alias="stringArr"/>
	</typeAliases>
</configuration>
	

