<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qna">
	
	<resultMap id="qnaMap" type="qna">
		<result property="qnaNo" column="qna_no"/>
		<result property="qnaWriter" column="qna_writer"/>
		<result property="qnaCategory" column="qna_category"/>
		<result property="qnaTitle" column="qna_title"/>
		<result property="qnaContent" column="qna_content"/>
		<result property="qnaDate" column="qna_date"/>
		<result property="qnaYn" column="qna_yn"/>
		<result property="qnaAnswer" column="qna_answer"/>
		<result property="qnaAnswerDate" column="qna_answer_date"/>
		<result property="rownum" column="ROWNUM" />
	</resultMap>
	
	<insert id="insertQna" parameterType="qna">
		INSERT INTO QNA VALUES('Q'||SEQ_QNA_NO.NEXTVAL,#{qnaWriter},#{qnaCategory},#{qnaTitle},#{qnaContent},sysdate,default,null,null)
	</insert>
	
	<select id="selectQnaList" resultMap="qnaMap" parameterType="string">
		  SELECT ROWNUM,Q.*FROM (SELECT * FROM QNA WHERE QNA_WRITER=#{memNo} ORDER BY QNA_DATE ASC) Q ORDER BY ROWNUM DESC
	</select>
	
	<select id="selectCount" resultType="_int" parameterType="string">
		SELECT COUNT(*) FROM QNA WHERE QNA_WRITER=#{memNo}
	</select>
	
	<delete id="deleteQna" parameterType="qna">
		DELETE FROM QNA WHERE QNA_NO=#{qnaNo}
	</delete>
	
	
	
	
	
</mapper>
