<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="product">
	<resultMap type="product" id="productMap">
		<result property="pdtNo" column="pdt_no"/>
		<result property="pdtCategory" column="pdt_category"/>
		<result property="pdtPrice" column="pdt_price"/>
		<result property="pdtName" column="pdt_name"/>
		<result property="pdtIntro" column="pdt_intro"/>
		<result property="pdtStatus" column="pdt_status"/>
		<result property="pdtDate" column="pdt_date"/>
		<result property="pdtDetailImage" column="pdt_detail_image"/>
		<result property="eventNoRef" column="event_no_ref"/>
		<result property="thumbs" column="thumbs"/>
	</resultMap>
	<resultMap type="option" id="optionMap">
		<result property="pdtOptionNo" column="pdt_option_no"/>
		<result property="pdtNo" column="pdt_no_ref"/>
		<result property="pdtOptionContent" column="pdt_option_content"/>
		<result property="pdtOptionAddprice" column="pdt_option_addprice" />
	</resultMap>
	<resultMap type="thumb" id="thumbMap">
		<result property="pdtThumbNo" column="pdt_thumb_no"/>
		<result property="pdtNo" column="pdt_no_ref"/>
		<result property="pdtThumbImage" column="pdt_thumb_image"/>
	</resultMap>
	
	<select id="allCount" resultType="_int">
		SELECT COUNT(*) FROM PRODUCT
	</select>
	<select id="cateCount" resultType="_int" parameterType="string">
		SELECT COUNT(*) FROM PRODUCT WHERE PDT_CATEGORY=#{pdtCategory}
	</select>
	<select id="allProductList" resultMap="productMap" >
		SELECT DISTINCT PDT_NO,PDT_CATEGORY,PDT_PRICE,PDT_NAME,PDT_STATUS,PDT_DATE,EVENT_NO_REF,
	    	LISTAGG(PDT_THUMB_IMAGE,',') WITHIN GROUP(ORDER BY PDT_NO_REF) OVER(PARTITION BY PDT_NO_REF) AS THUMBS
		FROM PRODUCT 
			JOIN  PRODUCT_THUMB ON(PDT_NO=PDT_NO_REF)
		ORDER BY PDT_DATE DESC
	</select>
	<select id="cateProductList" resultMap="productMap" parameterType="string">
		SELECT DISTINCT PDT_NO,PDT_CATEGORY,PDT_PRICE,PDT_NAME,PDT_STATUS,PDT_DATE,EVENT_NO_REF,
    		LISTAGG(PDT_THUMB_IMAGE,',') WITHIN GROUP(ORDER BY pdt_no_ref) OVER(PARTITION BY PDT_NO_REF)AS THUMBS
		FROM PRODUCT JOIN  PRODUCT_THUMB ON(PDT_NO=PDT_NO_REF) 
		WHERE PDT_CATEGORY IN(#{pdtCategory})
		ORDER BY PDT_DATE DESC
	</select>
	
</mapper>
