<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="product">
	<resultMap type="product" id="productMap">
		<result property="pdtNo" column="pdt_no"/>
		<result property="pdtCategory" column="pdt_category"/>
		<result property="pdtPrice" column="pdt_price"/>
		<result property="pdtName" column="pdt_name"/>
		<result property="pdtIntro" column="pdt_intro"/>
		<result property="pdtStatus" column="pdt_status"/>
		<result property="pdtDate" column="pdt_date"/>
		<result property="pdtDetailImage" column="pdt_detail_image"/>
		<result property="eventNoRef" column="event_no_ref"/>
		<result property="thumbs" column="thumbs"/>
		<result property="salePer" column="event_sale_per"/>
		<result property="pdtThumbNo" column="pdt_thumb_no"/>
		<result property="pdtThumbImage" column="pdt_thumb_image"/>
		<result property="zzimCount" column="ZZIM_COUNT"/>
		<result property="reviewCount" column="REVIEW_COUNT"/>
		<result property="totCnt" column="tot_cnt" />
		<result property="newYn" column="new_yn" />
	</resultMap>
	<resultMap type="option" id="optionMap">
		<result property="pdtOptionNo" column="pdt_option_no"/>
		<result property="pdtNo" column="pdt_no_ref"/>
		<result property="pdtOptionContent" column="pdt_option_content"/>
		<result property="pdtOptionAddprice" column="pdt_option_addprice" />
		<result property="pdtOptionStatus" column="pdt_option_status"/>
	</resultMap>
	<resultMap type="thumb" id="thumbMap">
		<result property="pdtThumbNo" column="pdt_thumb_no"/>
		<result property="pdtNo" column="pdt_no_ref"/>
		<result property="pdtThumbImage" column="pdt_thumb_image"/>
	</resultMap>
	
	<!-- 제품불러오기 -->
	<select id="selectProductOne" resultMap="productMap" parameterType="string">
		SELECT DISTINCT PDT_NO,PDT_CATEGORY,PDT_PRICE,PDT_NAME,PDT_INTRO,PDT_STATUS,PDT_DATE,PDT_DETAIL_IMAGE,EVENT_NO_REF,E.EVENT_SALE_PER,
		    LISTAGG(PDT_THUMB_IMAGE,',') WITHIN GROUP(ORDER BY T.pdt_no_ref) OVER(PARTITION BY T.PDT_NO_REF)AS THUMBS
		FROM PRODUCT P
		JOIN  PRODUCT_THUMB T ON(PDT_NO=T.PDT_NO_REF) 
		LEFT JOIN EVENT E ON(P.EVENT_NO_REF=E.EVENT_NO)
		WHERE PDT_NO=#{pdtNo}
		ORDER BY PDT_DATE DESC
	</select>

	<!-- 제품 옵션 불러오기 -->
	<select id="selectpdtOption" resultMap="optionMap" parameterType="string">
		SELECT * FROM PRODUCT_OPTION WHERE PDT_NO_REF=#{pdtNo}
	</select>

	
	<!-- 새로 수정!!제품 리스트-->
	<select id="ModifyProductList" resultMap="productMap" parameterType="product">
		SELECT  COUNT(*) OVER()		   AS TOT_CNT
				,T1.PDT_NO             
				,MAX(PDT_CATEGORY)     AS PDT_CATEGORY
				,MAX(PDT_PRICE)		   AS PDT_PRICE
				,MAX(PDT_NAME)		   AS PDT_NAME
				,MAX(PDT_STATUS)	   AS PDT_STATUS
				,MAX(PDT_DATE)		   AS PDT_DATE
				,MAX(EVENT_NO_REF)     AS EVENT_NO_REF
				,MAX(EVENT_SALE_PER)   AS EVENT_SALE_PER
				,MAX(THUMBS)		   AS THUMBS
				,MAX(Z.Z_CNT)		   AS ZZIM_COUNT
				,MAX(R.R_CNT)		   AS REVIEW_COUNT
				,MAX(ROUND((R_AVG),1)) AS AVG
				,MAX(NEW_YN)           AS NEW_YN
		FROM (   
				  SELECT P.PDT_NO
						  ,PDT_CATEGORY
						  ,PDT_PRICE
						  ,PDT_NAME
						  ,PDT_STATUS
						  ,PDT_DATE
						  ,EVENT_NO_REF
						  ,E.EVENT_SALE_PER
						  ,LISTAGG(PDT_THUMB_IMAGE,',') WITHIN GROUP(ORDER BY PDT_THUMB_NO) OVER(PARTITION BY PDT_NO)AS THUMBS
						  ,CASE WHEN SYSDATE-PDT_DATE>7 THEN 'N' ELSE 'Y' END AS NEW_YN
				  FROM   PRODUCT P
						   JOIN  PRODUCT_THUMB ON(P.PDT_NO=PDT_NO_REF)
						   LEFT JOIN EVENT E ON(P.EVENT_NO_REF=E.EVENT_NO)
				 ) T1
				 LEFT OUTER JOIN (SELECT PDT_NO, COUNT(*) AS Z_CNT							FROM ZZIMCONTENT 					 	 GROUP BY PDT_NO) Z ON(T1.PDT_NO=Z.PDT_NO)
				 LEFT OUTER JOIN (SELECT PDT_NO, COUNT(*) AS R_CNT, AVG(REV_SCORE) AS R_AVG FROM REVIEW      WHERE REV_DELETE_YN='N' GROUP BY PDT_NO) R ON(T1.PDT_NO=R.PDT_NO)
        <trim prefix="WHERE" prefixOverrides="AND">
        	<if test="pdtCategory !=null and pdtCategory !='전체제품' and pdtCategory!='할인제품'">
				AND PDT_CATEGORY IN #{pdtCategory}
			</if>
			<if test="pdtCategory !=null and pdtCategory=='할인제품'">
				AND EVENT_NO_REF IS NOT NULL AND EVENT_SALE_PER > 0
			</if>
			
			<if test="category != null and category[0]!='전체제품'">
				AND PDT_CATEGORY IN
				<foreach collection="category" item="category" open="(" close=")" separator=",">
					#{category}
				</foreach> 
			</if> 
			<if test="soldout!=null and soldout == '품절제외'">
				AND PDT_STATUS='Y'
			</if>
			<if test="fromPrice!=null and toPrice!=0">
				AND PDT_PRICE BETWEEN #{fromPrice} AND #{toPrice} 
			</if>
			<if test="star!=null">
				 <trim prefix="AND (" suffix=")" prefixOverrides="OR">
					<if test="star.star1==1">
						OR (R_AVG BETWEEN 0 AND 1)
					</if>
					<if test="star.star2==1">
						OR (R_AVG BETWEEN 1 AND 2)
					</if>
					<if test="star.star3==1">
						OR (R_AVG BETWEEN 2 AND 3)
					</if>
					<if test="star.star4==1">
						 OR (R_AVG BETWEEN 3 AND 4)
					</if>
					<if test="star.star5==1">
						OR (R_AVG BETWEEN 4 AND 5)
					</if>
				</trim> 
			</if>
		</trim>
		GROUP BY T1.PDT_NO
		<if test="sort!=null">
			<if test="sort == '등록일순'">
				ORDER BY PDT_DATE DESC
			</if>
			<if test="sort=='인기순'">
				ORDER BY ZZIM_COUNT DESC
			</if>
			<if test="sort=='리뷰순'">
				ORDER BY REVIEW_COUNT DESC
			</if>
			<if test="sort=='할인율순'">
				ORDER BY CASE WHEN EVENT_SALE_PER>0 THEN 0 ELSE 1 END
			</if>
			<if test="sort == '낮은가격순'">
				ORDER BY PDT_PRICE
			</if>
			<if test="sort == '높은가격순'">
				ORDER BY PDT_PRICE DESC
			</if>
			<if test="sort == '평점순'">
				ORDER BY CASE WHEN AVG IS NOT NULL THEN 0 ELSE 1 END
			</if>
		</if>
	</select>
	<!-- 가격 최대값 가져오기 -->
	<select id="selectMaxPrice" parameterType="map" resultType="_int">
		SELECT MAX(PDT_PRICE) FROM PRODUCT
		<if test="category!=null and category!='전체제품' and category!='할인제품'">
			WHERE PDT_CATEGORY=#{category}
		</if> 
		<if test="category!=null and category=='할인제품'">
			JOIN EVENT E ON(EVENT_NO_REF=E.EVENT_NO) WHERE EVENT_NO_REF IS NOT NULL AND EVENT_SALE_PER > 0
		</if>
	</select>

	
	<select id="selectproductDate" parameterType="string" resultMap="productMap">
		SELECT PDT_NO, PDT_DATE FROM PRODUCT WHERE PDT_NO=#{pdtNo} AND PDT_DATE>SYSDATE-7
	</select>
	
	<!-- 연관상품 슬라이드용 -->
	<select id="slidelist" resultMap="productMap">
		SELECT DISTINCT P.PDT_NO,PDT_CATEGORY,PDT_PRICE,PDT_NAME,PDT_STATUS,PDT_DATE,EVENT_NO_REF,E.EVENT_SALE_PER,
    		LISTAGG(PDT_THUMB_IMAGE,',') WITHIN GROUP(ORDER BY pdt_no_ref) OVER(PARTITION BY PDT_NO_REF)AS THUMBS
		FROM PRODUCT P
			JOIN  PRODUCT_THUMB ON(P.PDT_NO=PDT_NO_REF) 
			LEFT JOIN EVENT E ON(P.EVENT_NO_REF=E.EVENT_NO)
	</select>
	
	<!-- 찜하기 갯수 -->
	<select id="zzimCount" parameterType="string" resultType="int">
		SELECT COUNT(*) FROM ZZIMCONTENT WHERE PDT_NO=#{pdtNo}
	</select>
</mapper>
