@charset "UTF-8";
@font-face {
    font-family: 'NIXGONM-Vb';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'NIXGONM-Vb';
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a, button {
    cursor: pointer;
}

/* header */

header#spring-main-header {
    background-color: #ffffff;
}

div#header-container {
    position: relative;
    display: block;
}

.term {
    margin: 30px 10px 0 10px;
}

/* 로그인div */

div#loginJoin {
    float: right;
    width: 100%;
}

div#loginJoin ul {
    float: right;
}

div#loginJoin ul li {
    list-style-type: none;
    margin: 0 5px;
}

div#loginJoin ul li a {
    text-decoration: none;
    color: black;
}

/* 로고div */

div#logo-wrap {
    text-align: center;
    height: 100px;
}

img#logo {
    height: 80px;
    width: auto;
}

/* 메뉴nav div */

div#menuNav {
    width: 100%;
    color: #45A663;
    height:100px;
}

.dropmenu ul ul {
    position: absolute;
    display: none;
    padding: 0px;
    background-color: #ffffff;
    box-shadow: 0px 3px 5px -1px #ccc;
    min-width: 150px;
}

.dropmenu ul ul li {
    display: block;
    color: #45A663;
    min-width: 100px;
    padding-left: 10px;
}

.dropmenu ul li {
    display: inline-block;
    margin-left: 0px;
}

.dropmenu ul li a {
    display: block;
    color: #45A663;
    text-decoration: none;
    line-height: 43px;
}

.dropmenu ul li a:hover {
    color: #3b9156;
}

.dropmenu ul ul li a {
    display: block;
    color: #45A663;
    text-decoration: none;
    line-height: 35px;
    padding: 0;
    margin-left: 15px;
}

.dropmenu ul ul li a:hover {
    color: #1f472c;
}

/* 햄버거메뉴 css */

.menu-trigger, .menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

.menu-trigger {
    position: relative;
    width: 50px;
    height: 44px;
}

.menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
    top: 0;
}

.menu-trigger span:nth-of-type(2) {
    top: 20px;
}

.menu-trigger span:nth-of-type(3) {
    bottom: 0;
}

/* 햄버거메뉴css 끝 */

section#container {
    padding-top: 250px;
}

.carousel-inner {
    height: 400px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

img.productAd {
    height: 200px;
    width: 200px;
    overflow: hidden;
}

#productAd-text {
    display: flex;
}

div#spring-main-footer {
    bottom: 0;
    height: 150px;
    background-color: #45A663;
}

div#spring-main-footer>p{
    padding: 50px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    margin-top:200px;
}