@charset "UTF-8";

@font-face {
	font-family: 'Cafe24Simplehae';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	src: url(../font/Roboto-Thin.woff2) format('woff2'),
		url(../font/Roboto-Thin.woff) format('woff'),
		url(../font/Roboto-Thin.otf) format('opentype');
}

*,h1,h2,h3,h4,h5,h6{
	font-family: 'Cafe24Simplehae';
	box-sizing: border-box;
}
html, body{
	padding: 0;
	margin: 0;
	height: 100%;
}

a {
	text-decoration: none;
	color: black;
}

a, button {
	cursor: pointer;
}

/* 비밀번호 안보이는 이슈 처리 */
input[type=password] {
	font-family: 'Roboto';
}

input::placeholder {
	font-family: 'Cafe24Simplehae';
}

/* header */
header#spring-main-header {
	background-color: #ffffff;
}

div#header-container {
	position: relative;
	display: block;
}

.term {
	margin: 30px 10px 0 10px;
}

/* 로그인div */
div#loginJoin {
	float: right;
	width: 100%;
}

div#loginJoin ul {
	float: right;
}

div#loginJoin ul li {
	list-style-type: none;
	margin: 0 5px;
}

div#loginJoin ul li a {
	text-decoration: none;
	color: black;
}

/* 로고div */
div#logo-wrap {
	text-align: center;
	height: 100px;
}

img#logo {
	height: 50px;
	width: auto;
}

/* 메뉴nav div */
div#menuNav {
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: #45A663;
}


.dropmenu ul li {
	display: inline-block;
	margin: 0px 25px 0px 25px;
}
.dropmenu>nav>ul>li>a:hover{
	color: #45A663;
    font-weight: bolder;
    border-bottom: solid 3px #45A663;
    box-sizing: border-box;
    padding-bottom: 2px;
}
.dropmenu>nav>ul>li>a {
	display: block;
    color: #45A663;
	text-decoration: none;
	transition: transform 250ms ease-in-out;
	padding-bottom: 10px;
}
/*드롭다운 메뉴*/
.dropmenu ul ul {
	position: absolute;
	display: none;
	padding: 0px;
	background-color: #ffffff;
	box-shadow: 0px 3px 5px -1px #ccc;
	min-width: 150px;
}

.dropmenu ul ul li {
	display: block;
	color: #45A663;
	min-width: 100px;
    margin: 0;
}

.dropmenu ul ul li a {
	display: block;
	color: #45A663;
	text-decoration: none;
	line-height: 35px;
	padding: 0;
	margin-left: 15px;
}

.dropmenu ul ul li a:hover {
	color: #1f472c;
	font-weight:bolder;
}
/* 햄버거메뉴 css */
.menu-trigger, .menu-trigger span {
	display: inline-block;
	transition: all .4s;
	box-sizing: border-box;
}

.menu-trigger {
	position: relative;
	width: 50px;
	height: 44px;
}

.menu-trigger span {
	position: absolute;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #fff;
	border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
	top: 0;
}

.menu-trigger span:nth-of-type(2) {
	top: 20px;
}

.menu-trigger span:nth-of-type(3) {
	bottom: 0;
}

/* 햄버거메뉴css 끝 */

/*스크롤*/
html {overflow:auto;} 

/* header만큼 top 주기 */
section#container {
	padding-top: 180px;
}

div#spring-main-footer {
	bottom: 0;
    height: 150px;
    background-color: #45A663;
    padding: 30px; 
    display:flex;
    justify-content :space-between;
}

.a-link{text-decoration: none; color:white;}
#site-info>p {
    margin: 5px;
    color: #ffffff;
}
#site-phone{
	color: #ffffff;
	margin-right: 50px;
}
/* 검색 모달창 */
.search_input {
	border: none;
}
/*  */
.user_basic {
	color: #45A663;
}

.user_manager {
	color: red;
}