/* @charset "UTF-8";

body {
  background-color: white;
}
.section {
  width: 100%;
  position: relative;
}

양옆여백
.section,
.header,
.footer {
  padding: 0 10%;
  box-sizing: border-box;
  테두리를 포함한 크기를 지정함
}

선생님 거 버전
********* header *********
header div#header-container {height:100px;}
header div#header-container h2 	{margin:30px 10px 0px 10px;}

********* content *********
section#content		{min-height:600px;}

********* footer *********
footer		{background-color:#f8f9fa; background-clip:content-box; clear:both; height:95px; text-align:center;}
footer p 	{margin-top:30px;} */