<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">
	<resultMap type="event" id="eventMap">
		<result property="eventNo" column="event_no"/>
		<result property="eventTitle" column="event_title"/>
		<result property="eventStartDate" column="event_start_date"/>
		<result property="eventEndDate" column="event_end_date"/>
		<result property="eventCategory" column="event_category"/>
		<result property="eventSalePer" column="event_sale_per"/>
	</resultMap>

	<resultMap type="product" id="productMap">
		<result property="pdtNo" column="pdt_no"/>
		<result property="pdtCategory" column="pdt_category"/>
		<result property="pdtPrice" column="pdt_price"/>
		<result property="pdtName" column="pdt_name"/>
		<result property="pdtIntro" column="pdt_intro"/>
		<result property="pdtStatus" column="pdt_status"/>
		<result property="pdtDate" column="pdt_date"/>
		<result property="pdtDetailImage" column="pdt_detail_image"/>
		<result property="eventNoRef" column="event_no_ref"/>
	</resultMap>
	<resultMap type="option" id="optionMap">
		<result property="pdtOptionNo" column="pdt_option_no"/>
		<result property="pdtNo" column="pdt_no_ref"/>
		<result property="pdtOptionContent" column="pdt_option_content"/>
		<result property="pdtOptionAddprice" column="pdt_option_addprice"/>
	</resultMap>
	<resultMap type="thumb" id="thumbMap">
		<result property="pdtThumbNo" column="pdt_thumb_no"/>
		<result property="pdtNo" column="pdt_no_ref"/>
		<result property="pdtThumbImage" column="pdt_thumb_image"/>
	</resultMap>
	
	<resultMap type="member" id="memberMap">
		<result property="memNo" column="mem_no"/>
		<result property="memNick" column="mem_nick"/>
		<result property="memPwd" column="mem_pwd"/>
		<result property="memEmail" column="mem_email"/>
		<result property="memPro" column="mem_pro"/>
		<result property="memBuyCount" column="mem_buy_count"/>
		<result property="memWarnCount" column="mem_warn_count"/>
		<result property="memManagerYn" column="mem_manager_yn"/>
		<result property="memStatus" column="mem_status"/>
		<result property="memPoint" column="mem_point"/>
	</resultMap>
	
	<select id="selectEvent" resultMap="eventMap">
		SELECT * FROM EVENT
	</select>
	
	<delete id="eventDelete" parameterType="string">
		DELETE FROM EVENT WHERE EVENT_NO = #{evetNo}
	</delete>
	
	<insert id="insertProduct" parameterType="product">
		INSERT INTO PRODUCT 
			VALUES('P'||TO_CHAR(SEQ_PDT_NO.NEXTVAL),
				#{pdtCategory},#{pdtPrice},#{pdtName},
				#{pdtIntro},#{pdtStatus},SYSDATE,#{pdtDetailImage},#{eventNoRef})
		
		<selectKey keyProperty="pdtNo" resultType="string" order="AFTER">
			SELECT PDT_NO FROM PRODUCT WHERE PDT_NAME=#{pdtName}
		</selectKey>
	</insert>
	
	<insert id="insertOption" parameterType="product">
		INSERT INTO PRODUCT_OPTION
			VALUES('PO'||SEQ_PDT_OPTION_NO.NEXTVAL,#{pdtNo},#{pdtOptionContent},#{pdtOptionAddprice})
	</insert>
	
	<insert id="insertThumb" parameterType="thumb">
		INSERT INTO PRODUCT_THUMB
			VALUES('PT'||SEQ_PDT_THUMB_NO.NEXTVAL,#{pdtNo},#{renamedFileName});
	</insert>

	<select id="selectMemberList" resultMap="memberMap">
		SELECT * FROM MEMBER
	</select>
	
	<select id="selectMemberCount" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
	</select>
</mapper>