@charset "UTF-8";

	/*내비바*/
	.product-nav{padding-right:80px;font-size: 18px;line-height: 1.8;width:250px;}
	.product-nav ul{list-style:none;}
	.product-nav ul a{text-decoration: none;font-weight:bolder;}
	.product-nav a:hover{color: #45A663;}
	.select{color:#45A663;}
	.non-select{color:black;}
	
	/*큰 div들 설정. 반응형 덜어낸 방식*/
	.flexDiv{
		display:flex;
		padding:0 5%;
	}
	.product-container{
		min-width:300px;
		width:100%;
		margin-right:50px;
	}
	/*카테고리 및 필터*/
	.category-sort{
		display:flex;
		justify-content:space-between;
	}
	/*해당 페이지 카테고리*/
	.item-count{
		display:flex;
	}
	.category{
		font-weight:bold;
		font-size:20px;
	}
	.count{
		color:#45A663;
		font-weight:bold;
		font-size:20px;
	}
	/*정렬*/
	.sort{
		border:none;
		outline:none;
		
	}
	/*상품 목록 감싼 div*/
	.all-item-wrap{
		display: flex;
		min-width: 80%;
		flex-wrap: wrap;
	}
	
	/*각 상품*/
	.item-wrap{
		margin:10px;
		width:23%;
	}
	/*이미지 크기*/
     .item-img{
        width:100%;
        height: 250px;
        margin-bottom:10px;
    }

    /*상품 설명*/
    .item-intro{
        text-align: center;
        width:100%;
    }
    /*상품명*/
	.title-link{
		color:black;
        font-weight: bold;
    }
    .title-link:hover{
    	color:#265c37;
        text-decoration: none;
        font-weight: bold;
    }
    
    /*가격 및 아이콘*/
	.sale{
    	color:rgb(170, 170, 170);
    	text-decoration: line-through;
	}
    .item-price,.item-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:15px;
    }
    .item-icon{
    	font-size:13px;
    }
    .sale-price,.sale-icon,.soldout-icon{
        margin-left:5%;
    }
    .new-icon{
        background-color:#45A663;
        color: white;
        padding: 1px 5px;

    }
    .sale-icon{
        background-color:#e04545;
        color: white;
        padding: 1px 5px;
    }
    .soldout-icon{
    	background-color:gray;
        color: white;
        padding: 1px 5px;
    }
    /*페이지바*/
     .pagebar{
    	margin:5% auto;
    }
 
    /*제품 없을 때 뜨는 사진*/
    .noItem{
    	margin-left:30%;
    }
  