@charset "UTF-8";
	
	/*내비바*/
 	.product-nav{font-size: 18px;line-height: 1.8;min-width:200px;}
	.product-nav ul{list-style:none;}
	.product-nav ul a{text-decoration: none;font-weight:bolder;}
	.product-nav li a:hover{color: #45A663;}

	/*큰 div들 설정. 반응형 덜어낸 방식*/
	.flexDiv{
		display:flex;
		padding:0 5%;
	}
	.product-container{
		min-width:800px;
		width:100%;
		margin-right:60px;
	}
	/*카테고리 및 필터*/
	.category-sort{
		display:flex;
		justify-content:space-between;
	}
	/*해당 페이지 카테고리*/
	.item-count{
		display:flex;
	}
	.category{
		font-weight:bold;
		font-size:20px;
	}
	.count{
		color:#45A663;
		font-weight:bold;
		font-size:20px;
	}
	/*정렬*/
	.sort{
		border:none;
		outline:none;
		
	}
	/*상품 목록 감싼 div*/
	.all-item-wrap{
		display: flex;
		min-width: 80%;
		flex-wrap: wrap;
	}
	
	/*각 상품*/
	.item-wrap{
		margin:10px;
		width:23%;
	}
	/*이미지 크기*/
     .item-img{
        width:100%;
        margin-bottom:10px;
    }

    /*상품 설명*/
    .item-intro{
        text-align: center;
        width:100%;
    }
    /*상품명*/
	.title-link{
		color:black;
        font-weight: bold;
    }
    .title-link:hover{
    	color:#265c37;
        text-decoration: none;
        font-weight: bold;
    }
    /*찜 횟수,후기개수,미리보기 페이지 아이콘*/
    .icon{
    	width:15px;
    	height:15px;
    }
    .margin{margin-left:5px;}
    /*가격 및 할인,품절,뉴 아이콘*/
	.sale{
    	color:rgb(170, 170, 170);
    	text-decoration: line-through;
    	margin-left:5px;
	}
    .item-price,.item-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:15px;
    }

    .item-icon{
    	margin-top:10px;
    	font-size:13px;
    }
    .sale-price,.sale-icon,.soldout-icon{
        margin-left:5%;
    }
    .new-icon{
        background-color:#45A663;
        color: white;
        padding: 1px 5px;

    }
    .sale-icon{
        background-color:#e04545;
        color: white;
        padding: 1px 5px;
    }
    .soldout-icon{
    	background-color:gray;
        color: white;
        padding: 1px 5px;
    }
    /*페이지바*/
     .pagebar{
    	margin:5% auto;
    }
 
    /*제품 없을 때 뜨는 사진*/
    .noItem{
    	margin-left:30%;
    }
    
    /*제품 미리보기*/

    .previewDivShow{
	    position: absolute;
	    left: 350px;
	    top: 250px;

    }
    
    .previewDivNone{
    	display:none;
    }

    
    .popupContent {
	    width: 900px;
	    height: 450px;
	    background: white;
	    border: 1.5px solid #45A663;
	    border-radius: 10px;
	    padding: 10px;
	}
	
	.delBtn{
		float:right;
		background: white;
    	border: none;
    	font-size:18px;
	}
  /*스와이퍼*/
  
  	.mySlides {display:none;}
	.w3-badge {height:13px;width:13px;padding:0}
	.w3-left, .w3-right, .w3-badge {cursor:pointer}
	.swiper{
		width: 400px;
		z-index: 9999;
		position: absolute;
	}