<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zzim">
	<resultMap type="zzim" id="zzimMap">
		<result property="zzimNo" column="zzim_no"/>
		<result property="memNo" column="mem_no"/>
		<result property="zzimName" column="zzim_name"/>
		<result property="zzimContentCount" column="count"/>
		<result property="zzimFolderImg" column="image"/>
	</resultMap>
	<resultMap type="zzimContent" id="zzimContentMap">
		<result property="pdtNo" column="pdt_no"/>
		<result property="zzimNo" column="zzim_no"/>
		<result property="zzimDate" column="zzim_date"/>	
	</resultMap>
	
	<select id="selectZzimList" parameterType="String" resultMap="zzimMap">
		 SELECT * FROM
		(
		 SELECT Z.ZZIM_NO, Z.ZZIM_NAME,Z.MEM_NO, PT.PDT_THUMB_IMAGE AS IMAGE,
		 RANK() OVER (
		    PARTITION BY Z.ZZIM_NO
		    ORDER BY ZZIM_DATE DESC, PDT_THUMB_NO) AS RANKING, 
		    (SELECT COUNT(*) FROM ZZIMCONTENT WHERE ZZIM_NO=Z.ZZIM_NO) AS COUNT
		FROM ZZIM Z  
		LEFT JOIN ZZIMCONTENT ZC ON Z.ZZIM_NO=ZC.ZZIM_NO
		LEFT JOIN PRODUCT_THUMB PT ON ZC.PDT_NO=PT.PDT_NO_REF
		WHERE Z.MEM_NO=#{memNo}
		ORDER BY TO_NUMBER(SUBSTR(Z.ZZIM_NO,2)) DESC,ZZIM_DATE DESC, TO_NUMBER(SUBSTR(PDT_THUMB_NO,3)) ASC
		)WHERE RANKING =1
	</select>
	
	<insert id="insertZzim" parameterType="zzim">
		INSERT INTO ZZIM VALUES('Z'||SEQ_ZZIM_NO.NEXTVAL,#{memNo},#{zzimName})
	</insert>
	
	<select id="selectZzimContentList" parameterType="string" resultMap="zzimContentMap">
		SELECT * FROM(
		    SELECT  ZC.ZZIM_NO,ZC.ZZIM_DATE,ZC.PDT_NO, PT.PDT_THUMB_IMAGE AS zzimPdtImage,PDT_NAME AS zzimPdtName,
		    RANK() OVER (
		        PARTITION BY PT.PDT_NO_REF ORDER BY  TO_NUMBER(SUBSTR(PT.PDT_THUMB_NO,3))) AS RANK
		     FROM ZZIMCONTENT ZC
		     LEFT JOIN PRODUCT_THUMB PT ON ZC.PDT_NO=PT.PDT_NO_REF 
             LEFT JOIN PRODUCT PDT ON ZC.PDT_NO=PDT.PDT_NO
		      ORDER BY ZC.ZZIM_DATE DESC
		 )WHERE RANK=1 AND ZZIM_NO=#{zzimNo}
	</select>
	
	<delete id="deleteZzim" parameterType="java.util.List">
		DELETE FROM ZZIM WHERE ZZIM_NO IN
		<foreach collection="list" item="zzimNo" open="(" close=")" separator="," index="index">	
			 #{zzimNo}
		</foreach>
	</delete>	
	
	<select id="selectSeqZzimNo" resultType="string">
		SELECT SEQ_ZZIM_NO.CURRVAL FROM DUAL
	</select>
</mapper>
