<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ship">

	<resultMap type="ship" id="shipMap">
		<result property="shipNo" column="ship_no"/>
		<result property="memNo" column="mem_no"/>
		<result property="shipLocalName" column="ship_localname"/>
		<result property="shipAddress" column="ship_address"/>
		<result property="shipPhone" column="ship_phone"/>
		<result property="shipRecipient" column="ship_recipient"/>
		<result property="shipYn" column="ship_yn"/>
		<result property="shipZipCode" column="ship_zipcode"/>
		<result property="shipDetailAddress" column="ship_detailaddress"/>
		<result property="shipExtraAddress" column="ship_extraaddress"/>
		<result property="shipDelimemo" column="ship_delimemo"/>
	</resultMap>

	<select id="selectShipList" parameterType="string" resultMap="shipMap">
		SELECT * FROM SHIP 
		WHERE MEM_NO=#{memNo}
		ORDER BY SHIP_YN DESC, TO_NUMBER(SUBSTR(SHIP_NO,2)) DESC
	</select>
	
	<insert id="insertShip" parameterType="ship">
		INSERT INTO SHIP VALUES('S'||SEQ_SHIP_NO.NEXTVAL,#{memNo},#{shipLocalName},#{shipAddress},#{shipPhone},#{shipRecipient},
		<if test='shipYn !=null'>'Y',</if>
		<if test='shipYn ==null'>DEFAULT,</if>
		#{shipZipCode},#{shipDetailAddress},#{shipExtraAddress},
		<if test='shipDelimemo !=null'>#{shipDelimemo})</if>
		<if test='shipDelimemo ==null'>null)</if>
	</insert>
	<!--해당 회원의 기본배송지 모두 n으로 변경 -->
	<update id="updateShipYn" parameterType="string">
		UPDATE SHIP SET SHIP_YN='N' WHERE MEM_NO=#{memNo}
	</update>
	
	<delete id="deleteShip" parameterType="string">
		DELETE FROM SHIP WHERE SHIP_NO=#{shipNo}
	</delete>
	
	<!-- 배송지번호로 배송지 하나만 가져오기 -->
	<select id="selectShipOne" parameterType="string" resultMap="shipMap">
		SELECT * FROM SHIP WHERE SHIP_NO=#{shipNo}
	</select>
	
	<update id="updateShip" parameterType="ship">
		UPDATE SHIP SET 
		SHIP_LOCALNAME=#{shipLocalName},SHIP_ADDRESS=#{shipAddress},
		SHIP_PHONE=#{shipPhone},SHIP_RECIPIENT=#{shipRecipient},
		<if test='shipYn !=null'>SHIP_YN='Y',</if>
		<if test='shipYn ==null'>SHIP_YN='N',</if>
		SHIP_ZIPCODE=#{shipZipCode},SHIP_DETAILADDRESS=#{shipDetailAddress},
		SHIP_EXTRAADDRESS=#{shipExtraAddress} WHERE SHIP_NO=#{shipNo}
	</update>
	
	<!-- 로그인한 회원의 기본배송지여부 Y인 배송지 가져오기 -->
	<select id="selectShipOneY" parameterType="string" resultMap="shipMap">
		SELECT * FROM SHIP WHERE MEM_NO=#{memNo} AND SHIP_YN ='Y'
	</select>
</mapper> 
